.topCart1Next {
    animation: topCart1 1s;
    height: fit-content;
}

@keyframes topCart1 {
    from {
        max-height: 10px;
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        max-height: 800px;
        transform: translateY(100px);
        opacity: 0;
    }
}

.widthCart2Next,
.widthCart3Next {
    animation: widthCart2 1s;
    height: fit-content;
}

@keyframes widthCart2 {
    form {
        height: 150px;
        transform: scaleX(1);
    }

    to {
        max-height: 800px;
        transform: scaleX(1.05);
    }
}

.topCart2Next {
    animation: topCart2 1s;
}

@keyframes topCart2 {
    form {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(200px);
        opacity: 0;
    }
}

.widthCart3Back,
.widthCart2Back {
    animation: widthBackCart3 1s;
}

@keyframes widthBackCart3 {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }

}

.topCart2Back,
.topCart1Back {
    animation: topBackCart2 1s;
}

@keyframes topBackCart2 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


.cartOpacity {
    animation: fadeIn 1s;
    visibility: visible !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}