
.topCart1Next {
    animation: topCart1 1s ;
}

@keyframes topCart1 {
    from{
        transform: translateY(0px);
        opacity: 1;
    }

    to{
        transform: translateY(100px);
        opacity: 0;
    }
}

.widthCart2Next{
    animation: widthCart2 1s ;
}

@keyframes widthCart2 {
    form{
        transform: scaleX(1);
        /* min-width:750px; */
    }

    to{
        transform: scaleX(1.05);
        /* width:800px ; */
    }
}

.topCart2Next{
    animation: topCart2 1s;
}

@keyframes topCart2 {
    form{
        transform: translateY(0px);
        opacity: 1;
    }

    to{
        transform: translateY(200px);
        opacity: 0;
    }
}

.widthCart3Next{
    animation: widthCart3  1s;
}

@keyframes widthCart3 {
    from{
        height: 250px;
        transform: scaleX(1);
    }

    to{
        height: 350px;
        transform: scaleX(1.05);
    }
}

.widthCart3Back{
    animation: widthBackCart3 1s;
}

@keyframes widthBackCart3 {
    from{
        transform: scale(1.05);
    }

    to{
        transform: scale(1);
    }
    
}

.topCart2Back{
    animation: topBackCart2 1s;
}

@keyframes topBackCart2 {
    from{
        transform: translateY(200px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    } 
}

.widthCart2Back{
    animation: widthBackCart2 1s;
}

@keyframes widthBackCart2 {
    from{
        transform: scaleX(1.05);
    }

    to{
        transform: scaleX(1);
    }
}

.topCart1Back{
    animation: topBackCart1 1s;
}

@keyframes topBackCart1 {
    from{
        transform: translateY(100px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }

}


